body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.gallery {
    margin: 20px auto;
    max-width: 600px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
